* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

body {
    text-align: left;
    color: #27150b;
    background-color: white;
}

.header {
    color: white;
    font-family: sans-serif;
    border-bottom: 6px double white;
    background: darkorange;
}

.header div {
    font-size: x-large;
    padding: 8px;
    border-bottom: 4px double white;
}

.navi {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.main {
    font-size: 100%;
    padding: 1em;
}

.toc {
    padding: 1em;
}

.to_toc {
    font-size: xx-small;
    font-weight: normal;
}

.footer {
    text-align: center;
    color: white;
    border-top: 6px double white;
    background: darkorange;
    clear: both;
}

h1 {
    font-size: x-large;
    border-bottom: 4px solid darkorange;
}

h2 {
    background-image: url('images/maya_icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 32px;
    margin-top: 1em;
    font-size: large;
    border-bottom: 2px solid darkorange;
}

h3 {
    padding-top: 1em;
    font-size: medium;
    margin-left: 16px;
    border-bottom: 1px solid darkorange;
}

h4 {
    padding-top: 1em;
    font-size: small;
    margin-left: 16px;
    border-bottom: 1px dotted darkorange;
}

code {
    font-family: monospace;
    font-size: medium;
    color: #039;
}

pre {
    padding: 8px;
    margin-left: 2em;
    margin-right: 2em;
    border: 1px dotted darkorange;
}

div.file {
    margin: 0;
    padding: 8px;
    border: 1px solid #27150b;
}

table {
    margin-left: 2em;
    border: 1px solid black;
}

table th,td {
    padding: 2px;
    margin: 0;
    border: 1px solid black;
}

table th {
    text-align: left;
    background-color: lemonchiffon;
    font-weight: normal;
}

li {
    margin-left: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    text-indent: 1em;
    line-height: 150%;
    margin-top: 1em;
    margin-bottom: 1em;
}

strong {
    font-weight: bold;
    color: #930;
}

.figure {
    margin: 0.5em;
    margin-left: 2em;
    padding-bottom: 1em;
}

.figure img {
    margin: 1em;
}

.omit {
    color: blue;
    font-style: italic;
}

cite {
    font-style: normal;
}

dt {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

dt code {
    border-bottom: 1px solid darkorange;
}

dd {
    margin-left: 4em;
    margin-top: 0;
    margin-bottom: 0;
}

